snippet acm
// a0919610611/fuyu0425/twleo
#include<bits/stdc++.h>
using namespace std;
#define int long long
int32_t main()
{

	return 0;
}
endsnippet
snippet acmfile
// a0919610611/fuyu0425/twleo
#include<bits/stdc++.h>
using namespace std;
#define int long long
int32_t main()
{
#ifndef fuyu0425
	freopen("","r",stdin);
	freopen("","w",stdout);
#endif

	return 0;
}
endsnippet
